# Données : trop lourdes, et pas à nous de les redistribuer
data/raw/*
data/processed/*
!data/**/.gitkeep
archive/*
# Python
.venv/
__pycache__/
*.py[oc]
build/
dist/
*.egg-info

# Notebooks
.ipynb_checkpoints/